<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <strong>Roles available</strong>
      <hr/>
      <span *ngFor="let role of rolesNotAdded; let i = index">
        <label>{{role}} </label>
        <button (click)='add(role,i)'> + </button>
        <br/>
      </span>
    </div>
    <div class="col-sm-6">
      <strong>Roles added</strong>
      <hr/>
      <span *ngFor="let role of rolesAdded; let i = index">
        <label>{{role}} </label>
        <button (click)='remove(role,i)'> - </button>
        <br/>
      </span>
    </div>
    <br/>
    <p>
      {{overlay}} {{userInfo.id}}
    </p>
    <br/>
    <br/>
  </div>
</div>
<button id="done" (click)="toggleOverlay()">Done</button>
<br/>
<br/>